<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> All projects</h4>
                <button [routerLink]="['/project/create']" class="btn btn-primary btn-round">Create New</button>
                <button [routerLink]="['/project/assignFreelancer']" class="btn btn-primary btn-round">Assign Freelancer to project</button>

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                        <th>
                            Name
                        </th>
                        <th>
                            start Date
                        </th>
                        <th>
                            end Date
                        </th>
                        <th class="align-middle ">
                            Actions
                        </th>
                        </thead>
                        <tbody>
                        <tr *ngFor="let project of projects" >
                            <td>
                                {{project.name}}
                            </td>
                            <td>
                                {{project.startDate}}
                            </td>
                            <td>
                                {{project.endDate}}
                            </td>
                            <td class="align-middle " >

                                <button [routerLink]="['/project/details', project.id]" class="btn btn-primary btn-round">Details</button>
                                <button (click)="deleteProject(project.id)" *ngIf="compareDates(project.startDate)" class="btn btn-danger btn-round">Delete</button>
                                <button [routerLink]="['/project/update', project.id]" class="btn btn-warning btn-round">update</button>



                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
